#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

#include <behaviors.dtsi>

#include "zmk-helpers/helper.h"
#include "keys/36.h"

// layers
#define BASE 0
#define NUM 1
#define SYM 2
#define FN 3
#define GM 4

#define ___      &trans
#define _x_      &none

ZMK_BEHAVIOR(tp, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp>, <&kp>;
)

ZMK_BEHAVIOR(hd, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp>, <&kp>;
)

ZMK_BEHAVIOR(ld, layer_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp>, <&kp>;
)

/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };
  macros {
        bt_clr_macro: bt_clr_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
        };
    };
  behaviors {
        btclr_hold: btclr_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <2000>;
            quick-tap-ms = <0>;
            bindings = <&bt_clr_macro>, <&none>;
        };
    };
  combos {
    compatible = "zmk,combos";
    combo_esc {
      timeout-ms = <50>;
      key-positions = <31 34>;
      bindings = <&mo FN>;
    };
  };
};

/ {
  keymap {
    compatible = "zmk,keymap";
    base_layer {
      bindings = <
              &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U      &kp I       &kp O       &kp P
              &tp LSHFT A &tp LCTRL S &tp LALT D  &tp LGUI F  &kp G           &kp H       &tp RGUI J &tp RALT K  &tp RCTRL L &tp RSHFT SEMI
              &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M    &kp COMMA     &kp DOT    &kp SQT
                                    &lt FN ESC    &lt NUM ENTER  _x_          _x_       &lt NUM SPACE &lt SYM BSPC
      >;
    };
    number_layer {
      bindings = <
              &kp GRAVE   &kp N1      &kp N2      &kp N3    &kp MINUS         _x_       &kp LBKT    &kp RBKT    &kp FSLH    &kp BSLH
                _x_       &kp N4      &kp N5      &kp N6    &kp EQUAL         &kp LEFT  &kp DOWN    &kp UP      &kp RIGHT _x_
                _x_       &kp N7      &kp N8      &kp N9    &kp N0            &kp LSHFT &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT
                                      ___         ___       _x_               _x_      ___    ___
      >;
    };
    symbol_layer {
      bindings = <
              &kp TILDE   &kp EXCL    &kp AT      &kp HASH   &kp UNDER         _x_       &kp LBRC    &kp RBRC    &kp QMARK   &kp PIPE
                _x_       &kp DLLR    &kp PRCNT   &kp CARET   &kp PLUS         &kp LEFT  &kp DOWN    &kp UP      &kp RIGHT _x_
                _x_       &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR         &kp LSHFT &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT
                                      ___         ___       _x_               _x_      ___    ___
      >;
    };
    fn {
      bindings = <
              &kp F1      &kp F2      &kp F3      &kp F4        _x_       &kp C_VOL_DN &kp C_VOL_UP    _x_         _x_         _x_
              &kp F5      &kp F6      &kp F7      &kp F8        _x_          &kp LS(LEFT)   &kp LS(DOWN)    &kp LS(UP) &kp LS(RIGHT)      _x_
              &kp F9      &kp F10     &kp F11     &kp F12       _x_        &kp C_PREV   &kp C_PP   &kp C_NEXT      _x_       &tog GM
                                      ___         ___       _x_               _x_      ___    ___
      >;
    };
    game_layer {
      bindings = <
               &kp N1      &kp N2      &kp N3      &kp N4      &kp N5         &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
               &kp N6      &kp N7      &kp W       &kp N8      &kp N9         &kp Q        _x_         _x_         _x_         _x_
            &kp LSHIFT     &kp A       &kp S       &kp D       &kp F           _x_         _x_         _x_   &btclr_hold 0 0  &tog GM
                                      &kp ESC    &kp SPACE     &kp E         &kp TAB       ___         ___
      >;
    };
  };
};
