#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

#include <behaviors.dtsi>

#include "zmk-helpers/helper.h"
#include "keys/36.h"

// global
#define QUICK_TAP_MS 150
#define TAPPING_TERM_MS 200
#define PRIOR_IDLE_MS 150

// layers
#define BASE 0
#define NUM 1
#define SYM 2
#define FN 3
#define GM 4

// redefined keycodes
#define _LWIN_    &kp LEFT_WIN
#define _RALT_    &kp RIGHT_ALT
#define _SPC_     &kp SPACE
#define _RET_     &kp RETURN 

#define ___      &trans
#define _x_      &none

/* left-hand HRMs */
ZMK_BEHAVIOR(hml, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    require-prior-idle-ms = <PRIOR_IDLE_MS>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <LEFT_KEYS THUMB_KEYS>;
    hold-trigger-on-release;
)

/* right-hand HRMs */
ZMK_BEHAVIOR(hmr, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    require-prior-idle-ms = <PRIOR_IDLE_MS>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <RIGHT_KEYS THUMB_KEYS>;
    hold-trigger-on-release;
)

/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };
};

/ {
  keymap {
    compatible = "zmk,keymap";
    base_layer { 

      bindings = <
        // ╭───────────────────────────────────────────────────────────╮  ╭──────────────────────────────────────────────────────────╮
        // │     Q     │     W     │     E     │    R      │     T     │  │     Y     │     U    │     I     │     O     │     P     │
              &kp Q       &kp W       &kp E      &kp R        &kp T          &kp Y       &kp U       &kp I       &kp O     &kp P
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼──────────┼───────────┼───────────┼───────────┤
        // │     A     │     S     │     D     │     F     │     G     │  │     H     │     J    │     K     │     L     │     ;     │
        &hml LCTRL A  &hml LALT S  &hml LGUI D  &hml LSHIFT F    &kp G      &kp H   &hmr RSHIFT J   &hmr RGUI K &hmr RALT L &hmr RCTRL SEMI
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼──────────┼───────────┼───────────┼───────────┤
        // │     Z     │     X     │     C     │     V     │     B     │  │     N     │     M    │     ,     │     .     │     '     │
               &kp Z       &kp X       &kp C       &kp V       &kp B          &kp N      &kp M     &kp COMMA     &kp DOT    &kp SQT
        // ╰───────────┼───────────┼───────────┼───────────┼───────────╯  ╰───────────┼──────────┼───────────┼───────────┼───────────╯
                                     &lt FN ESC  &lt SYM SPACE  &kp RETURN  &kp TAB   &lt NUM SPACE  &kp BSPC 
        //                         │                                   │  │                                  │
        //                         ╰───────────────────────────────────╯  ╰──────────────────────────────────╯
      >;
    };
    number_layer { 

      bindings = <
        // ╭───────────────────────────────────────────────────────────╮  ╭───────────────────────────────────────────────────────────╮
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
              &kp GRAVE    &kp N1      &kp N2      &kp N3    &kp MINUS         _x_       &kp LBKT    &kp RBKT    &kp FSLH    &kp BSLH
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
                _x_        &kp N4      &kp N5      &kp N6    &kp EQUAL         _x_      &kp RSHIFT  &kp RGUI    &kp RALT    &kp RCTRL
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
                _x_        &kp N7      &kp N8      &kp N9      &kp N0          _x_         _x_         _x_         _x_         _x_
        // ╰───────────┼───────────┼───────────┼───────────┼───────────╯  ╰───────────┼───────────┼───────────┼───────────┼───────────╯
                                     &kp LCTRL    &kp LALT    &kp LGUI      &kp LSHIFT     ___         ___ 
        //                         │                                   │  │                                   │
        //                         ╰───────────────────────────────────╯  ╰───────────────────────────────────╯
      >;
    };
    symbol_layer {

      bindings = <
        // ╭───────────────────────────────────────────────────────────╮  ╭───────────────────────────────────────────────────────────╮
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
              &kp TILDE   &kp EXCL    &kp AT      &kp HASH   &kp UNDER         _x_       &kp LBRC    &kp RBRC    &kp QMARK   &kp PIPE
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
                _x_       &kp DLLR    &kp PRCNT   &kp CARET   &kp PLUS         _x_      &kp RSHIFT  &kp RGUI    &kp RALT    &kp RCTRL
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
                _x_       &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR         _x_         _x_         _x_         _x_         _x_
        // ╰───────────┼───────────┼───────────┼───────────┼───────────╯  ╰───────────┼───────────┼───────────┼───────────┼───────────╯
                                     &kp LCTRL      ___       &kp LGUI      &kp LSHIFT     ___         ___ 
        //                         │                                   │  │                                   │
        //                         ╰───────────────────────────────────╯  ╰───────────────────────────────────╯
      >;
    };

    fn { 

      bindings = <
        // ╭───────────────────────────────────────────────────────────╮  ╭───────────────────────────────────────────────────────────╮
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
              &kp F1      &kp F2      &kp F3      &kp F4        _x_       &kp C_VOL_DN &kp C_VOL_UP    _x_         _x_         _x_
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
              &kp F5      &kp F6      &kp F7      &kp F8        _x_          &kp LEFT    &kp DOWN    &kp UP     &kp RIGHT      _x_
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
              &kp F9      &kp F10     &kp F11     &kp F12       _x_        &kp C_PREV   &kp C_PP   &kp C_NEXT      _x_       &tog GM
        // ╰───────────┼───────────┼───────────┼───────────┼───────────╯  ╰───────────┼───────────┼───────────┼───────────┼───────────╯
                                        ___       &kp LALT    &kp LGUI      &kp LSHIFT     ___         ___ 
        //                         │                                   │  │                                   │
        //                         ╰───────────────────────────────────╯  ╰───────────────────────────────────╯
      >;
    };
    game_layer { 
      bindings = <
        // ╭───────────────────────────────────────────────────────────╮  ╭───────────────────────────────────────────────────────────╮
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
               &kp N1      &kp N2      &kp N3      &kp N4      &kp N5         &kp N6      &kp N7      &kp N8      &kp N9      &kp N0 
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
              &kp TAB     &kp Q       &kp W      &kp E        &kp T            _x_         _x_         _x_         _x_         _x_
        // ├───────────┼───────────┼───────────┼───────────┼───────────┤  ├───────────┼───────────┼───────────┼───────────┼───────────┤
        // │     _     │     _     │     _     │     _     │     _     │  │     _     │     _     │     _     │     _     │     _     │
            &kp LSHIFT    &kp A       &kp S       &kp D       &kp F          &kp F3        _x_         _x_         _x_       &tog GM
        // ╰───────────┼───────────┼───────────┼───────────┼───────────╯  ╰───────────┼───────────┼───────────┼───────────┼───────────╯
                                      &kp ESC    &kp SPACE      ___       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_CLR
        //                         │                                   │  │                                   │
        //                         ╰───────────────────────────────────╯  ╰───────────────────────────────────╯
      >;
    };
  };
};
